.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flexbox-item {
    width:400;
    margin:10px
}

.flexbox-item img {
    width:100%;
    height:auto;
}
